/* I know my code are messy, i just made em' and call it a day */
/*Custom font*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
  font-family: "NTLG";
  src: url("fonts/nintendo_NTLGDB_001.ttf");
}
/*Universal*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: "NTLG", "rubik", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(image/WII_U_BG_IMAGE.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 7.5em;
  height: 7.5em;
  background: url(image/WII_U_CURSOR.png) no-repeat center;
  background-size: contain;
  pointer-events: none;
  z-index: 9999999;
  transform: translate(-50%, -50%);
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  animation: FadeIn 0.25s ease;

  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal .modal-content {
  display: flex;
  flex-direction: column;
  border: 2px solid #b8b8b8;
  border-radius: 20px;
  width: auto;
  height: auto;
  overflow: clip;

  transform: scale(0.95) translateY(10px);
  transition: all 0.26s ease;
  opacity: 0;
}

.modal.show .modal-content {
  transform: scale(1) translateY(0);
  opacity: 1;
}

.modal .modal-content .modal-body {
  padding: 30px 20px;
  background: linear-gradient(180deg, #f8f8f8, #f8f8f8 50%, #e5e5e5);
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 0 0 5px 5px;
  overflow: auto;
  text-align: center;
}

.modal .modal-content .modal-body small {
  opacity: 0.3;
  margin: 0;
  padding: 0;
}

.btn-d {
  display: flex;
  justify-content: center;
}

.btn {
  min-width: 120px;
  padding: 20px 16px;
  font-size: 1.1rem;
  border: 0;
  box-shadow: inset 0px 2px 0px -1px #e9e9e9, inset 0px 0px 0px 2px #fff,
    0px 1px 3px rgba(0, 0, 0, 0.45);
  text-shadow: 0px 2px 0px #fff;
  background: linear-gradient(
    to bottom,
    #f2f2f2 0%,
    #ffffff 0.1%,
    #ffffff 50%,
    #f7f7f7 80%,
    #e2e2e2 95%,
    #e9e9e9 96%,
    #ffffff 100%
  );
  font: inherit;
  background-color: #ececec;
  border: 2px solid #b8b8b8;
  border-radius: 2rem;
  width: 20rem;
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 150ms;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blank,
.spc {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  all: unset;
  display: flex;
  justify-content: center;
  position: relative;
}

/* boot in screen animation !DOESN'T WORK! */

/* .blank,
.spc,
#clock {
  opacity: 0;
  transform: translateY(-30px) scale(0.85);
}

.blank.boot-in,
.spc.boot-in,
#clock.boot-in {
  animation: bootIn 200ms cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes bootIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.disc-slot {
  position: relative;
} */

.spc::after,
.top::after {
  content: attr(data-name);
  position: absolute;
  top: -4.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 1rem 1rem;
  border-radius: 15px;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease;
  white-space: nowrap;
  z-index: 999;
}

.bottom::after {
  content: attr(data-name);
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 1rem 1rem;
  border-radius: 15px;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease;
  white-space: nowrap;
  z-index: 999;
}

.top:hover::after,
.bottom:hover::after,
.spc:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  font-weight: 350;
  letter-spacing: 0.04em;
}

.top:not([data-name])::after,
.bottom:not([data-name])::after,
.spc:not([data-name])::after {
  display: none;
}

.blank img {
  width: 10rem;
  height: 10em;
  transition: all 150ms;
}

.blank .slot {
  z-index: 1;
}

.blank .disc {
  position: absolute;
  width: 70%;
  height: auto;
  top: 15%;
  z-index: 2;
  pointer-events: none;
  border-radius: 0.5rem;
}

.btn:hover,
.blank img:hover,
.disc-slot:hover .disc,
.spc img:hover {
  transform: scale(1.1);
}

.btn:active,
.blank img:active,
.disc-slot:active .disc,
#start img:active {
  transform: scale(1.2);
}

.spc img {
  width: 4.5em;
  height: 4.5em;
  transition: all 150ms;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  column-gap: 1.5em;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons button {
  margin: 0 2.8em;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer {
  display: flex;
  flex-direction: row;
  height: 2vh;
  justify-content: space-between;
}

footer p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  opacity: 0.4;
}

footer .Disclaimer {
  color: red;
  opacity: 1;
}
