/*Custom font*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
  font-family: "NTLG";
  src: url("fonts/nintendo_NTLGDB_001.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*Universal*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

body {
  font-family: "NTLG", "rubik";
  font-weight: 400;
  min-height: 100vh;
}

#customCursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 7.5em;
  height: 7.5em;
  background: url(image/WII_U_CURSOR.png) no-repeat center;
  background-size: contain;
  pointer-events: none;
  z-index: 9999999;
  transform: translate(-50%, -50%);
}

.video-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.warning {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 55vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 999999;

  transform: translate(-50%, -50%) scale(0); /* scale small + centered */
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.warning.show {
  transform: translate(-50%, -50%) scale(1); /* full size + still centered */
  opacity: 1;
}

.warning-bg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.warning h1,
.warning h4 {
  position: relative;
  z-index: 2;
  margin: 0;
  text-align: center;
}

.warning h1 {
  font-size: 2rem;
  margin-top: 0;
}

.warning .aff {
  font-weight: 350;
}

.OK-btn {
  position: absolute;
  bottom: 2rem;
  font: inherit;
  background: linear-gradient(
    to bottom,
    #f2f2f2 0%,
    #ffffff 0.1%,
    #ffffff 50%,
    #f7f7f7 80%,
    #e2e2e2 95%,
    #e9e9e9 96%,
    #ffffff 100%
  );
  color: black;
  border: 2px solid #b8b8b8;
  border-radius: 2rem;
  min-width: 64px;
  padding: 1rem 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  z-index: 2;
}

.blank,
.spc {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  all: unset;
  display: flex;
  justify-content: center;
  position: relative;
}

.spc::after,
.top::after {
  content: attr(data-name);
  position: absolute;
  top: -4.1rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 1rem 1rem;
  border-radius: 15px;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease;
  white-space: nowrap;
  z-index: 999;
}

.bottom::after {
  content: attr(data-name);
  position: absolute;
  bottom: -3.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 1rem 1rem;
  border-radius: 15px;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
  transition: all 150ms ease;
  white-space: nowrap;
  z-index: 999;
}

.top:hover::after,
.bottom:hover::after,
.spc:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1);
  font-weight: 350;
  letter-spacing: 0.04em;
}

.top:not([data-name])::after,
.bottom:not([data-name])::after,
.spc:not([data-name])::after {
  display: none;
}

.blank img {
  width: 10rem;
  height: 10em;
  transition: all 150ms;
}

.blank .slot {
  z-index: 1;
}

.blank .disc {
  position: absolute;
  width: 70%;
  height: auto;
  top: 15%;
  z-index: 2;
  pointer-events: none;
  border-radius: 0.5rem;
}

.OK-btn:hover,
.blank img:hover,
.disc-slot:hover .disc,
.spc img:hover {
  transform: scale(1.1);
}

.OK-btn:active,
.blank img:active,
.disc-slot:active .disc,
#start img:active {
  transform: scale(1.2);
}

.spc img {
  width: 4.5em;
  height: 4.5em;
  transition: all 150ms;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  column-gap: 1.5em;
  margin-bottom: 10px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons button {
  margin: 0 2.8em;
}

#clock {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

footer {
  display: flex;
  flex-direction: row;
  height: 2vh;
  justify-content: space-between;
}

footer p {
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  opacity: 0.4;
}

footer .Disclaimer {
  color: red;
  opacity: 1;
}
